<style>

  #footer, #footer .widget, #footer p {
    color: #b0b0b0;
  }
  #footer {
    background-color: dimgrey;
  }
  #footer {
    padding: 45px 0;
    width: 100%;
    background-color: dimgrey;
    color: #b0b0b0;
  }
  footer {
    display: block;
  }
  .widget_timetable li.is_closed {
    color: #ff600a;
  }
  #footer ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  #footer li {
    display: list-item;
    text-align: -webkit-match-parent;
  }

  #ss {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #ff600a;
  }
  .row {
    margin-left: -20px;
    margin-right: -20px;
  }

  #footer .col-md-3 {
    width: 50%;
    float: left;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3,
  .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
  .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
  .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
  .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .widget {
    margin-bottom: 30px;
  }

  #footer .widget .widget-title {
    border-bottom: 1px solid #696969;
    color: #fff;
  }
  #menu{
    margin: 0;
    padding-left: 100px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
  .widget_timetable li {
    padding: 5px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #696969;
    color: #fff;
  }


</style>
<footer id="footer">
  <div id="menu" class="container">
    <div class="row">
      <div class="col-md-3">
        <div id="text-2" class="widget widget_text">
          <h3 class="widget-title"><span id="ss">À </span>propos de nous</h3>
          <div class="textwidget">
            <p class="white">Nous sommes la ministère du transport...</p>
            <p>l'objectif est de faire une réservation à distance pour minimiser l'encombrement aux
              service de diagnostique</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="widget widget_timetable">
          <h3 class="widget-title"><span id="ss">Nos </span>Horaires</h3>
          <ul>
            <li>
              Lundi&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span> 08:00 - 17:00</span>
            </li>
            <li>
              Mardi&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span>08:00 - 17:00 </span>
            </li>
            <li>
              Mercredi&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
              <span> 08:00 - 17:00</span>
            </li>
            <li>
              Jeudi&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span> 08:00 - 17:00</span>
            </li>
            <li>
              Vendredi&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
              <span>08:00 - 17:00 </span>
            </li>
            <li class="is_closed">
              Samedi&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span>Fermé </span>
            </li>
            <li class="is_closed">
              Dimanche&nbsp;:&nbsp;&nbsp;&nbsp;
              <span> Fermé</span>
            </li>
          </ul>
        </div>
        <!--/ .widget-->
      </div>
      <div class="col-md-3">
        <div class="widget widget_contacts">
          <h3 class="widget-title"><span>Contact </span></h3>
          <ul class="contacts-list">
            <li class="icon-warehouse"> Cité Monplaisir et Borgel</li>
            <li class="icon-phone">Tél :71 905 026</li>
          </ul>
          <!--/ .contacts-list-->
        </div>
        <!--/ .widget-->
      </div>
      <div class="col-md-3">
        <div class="widget widget_banner">
          <h3 class="widget-title"><span>Notre localisation </span></h3>
          <div class="banner full">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2886.3247399696565!2d10.1834798!3d36.8163998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd346273125ab3%3A0x3260037ef4193a55!2sMinistry%20of%20Transportation!5e1!3m2!1sen!2stn!4v1604603185182!5m2!1sen!2stn"
              width="500" height="350" frameborder="0" style="border:0;" allowfullscreen=""
              aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
      </div>
    </div>
    <!--/ .row-->
  </div>
  <!--/ .container-->
</footer>
