
<app-header></app-header>
<br><br><br><br>
<div class="container">
  <br><br><br><br>
  <div style="width: 500px; margin-left: 200px; margin-top: 0px; ">

   <H1>Login</H1>
    <div class="form-floating mb-md-2">
      <label for="floatingInput" style="color: blue">Email address</label>
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    </div>
    <div class="form-floating">
      <label for="floatingPassword" style="color: blue">Password</label>
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    </div>
    <br>

      <a  [routerLink]="['/EspaceEmployeur']" type="button" class="btn btn-primary">Connexion</a>
      <a [routerLink]="['/addCompte']" style="margin-left: 100px">Créer un compte</a>

  </div>
  <br>

</div>

